<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>universities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter Country (in English)</ion-label>
    <ion-input [(ngModel)]="country"></ion-input>
  </ion-item>

  <ion-button (click)="searchUniversities()">Search</ion-button>

  <ion-list *ngIf="universities">
    <ion-item *ngFor="let university of universities">
      <ion-label>
        <h2>{{ university.name }}</h2>
        <p>Domain: {{ university.domains[0] }}</p>
      </ion-label>
      <ion-button [href]="university.web_pages[0]" target="_blank">Visit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
